<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="text-center">
    <h1 class="text-3xl font-bold">Lista de posts</h1>
    <div class="mt-3 text-gray-200">
      Lista com todos os posts ativos e inativos
    </div>
  </div>
</div>

<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="py-3 px-6">Id</th>
        <th scope="col" class="py-3 px-6">Title</th>
        <th scope="col" class="py-3 px-6">Publish Date</th>
        <th scope="col" class="py-3 px-6">Update Date</th>
        <th scope="col" class="py-3 px-6">Visible</th>
        <th scope="col" class="py-3 px-6">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let post of posts"
        class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
      >
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ post.id }}
        </th>
        <td class="py-4 px-6">{{ post.title }}</td>
        <td class="py-4 px-6">{{ post.publishDate }}</td>
        <td class="py-4 px-6">{{ post.updateDate }}</td>
        <td class="py-4 px-6">{{ post.visible }}</td>
        <td class="py-4 px-6">
          <a
            [routerLink]="['/admin-update', post.id]"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
          <a
            [routerLink]="['admin-posts', post.id]"
            class="py-4 px-6 font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Delete</a
          >
        </td>
      </tr>
      <tr
        class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700"
      ></tr>
    </tbody>
  </table>
</div>
