<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div
    class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between"
  >
    <a>
      <div
        class="flex items-center bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-xl font-bold text-transparent"
      >
        {{ "navbar" | translate }}
      </div>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"
      >
        <li>
          <a
            href="https://www.linkedin.com/in/marcoswferreira/"
            target="_blank"
            class="transition duration-700 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            aria-current="page"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://github.com/MarcosFerreira17"
            target="_blank"
            class="transition duration-700 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Github</a
          >
        </li>
        <li>
          <div class="language-picker-area">
            <select
              class="language-picker text-gray-700 rounded hover:bg-gray-100 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark bg-transparent"
              name="languages"
              (change)="selectLanguage($event)"
            >
              <option value="en-US">
                {{ "en-US" | translate }}
              </option>
              <option value="pt-BR">
                {{ "pt-BR" | translate }}
              </option>
            </select>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="mx-auto max-w-screen-lg px-3 pt-6">
    <div
      class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-24"
    >
      <div>
        <h1 class="text-3xl font-bold">
          {{ "hi-there-01" | translate }}
          <span
            class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
            >Marcos Ferreira</span
          >
          <span class="animate-waving-hand">👋🏻</span>
        </h1>
        <p class="mt-6 mb-6 text-xl leading-9">
          {{ "hi-there-02" | translate }}
          <a class="text-cyan-400">{{ "hi-there-03" | translate }}</a>
          {{ "hi-there-04" | translate }}
          <!-- -->
          <a class="text-cyan-400">{{ "hi-there-05" | translate }}</a>
          <!-- -->
          {{ "hi-there-06" | translate }}
          <a class="text-cyan-400">{{ "hi-there-07" | translate }}</a>
          <!-- -->
          {{ "hi-there-08" | translate }}
        </p>
      </div>
      <div
        class="transition ease-in-out delay-150 duration-700 shrink-0 hover:scale-110 opacity-90 hover:opacity-100"
      >
        <img
          class="h-64 w-60"
          src="assets/images/avatar.png"
          alt="Avatar image"
          loading="lazy"
          data-bs-toggle="tooltip"
          title="Avatar Marcos Ferreira"
        />
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-screen-lg">
    <div class="mx-auto max-w-screen-lg px-3 py-9">
      <div
        class="flex flex-wrap items-center md:flex-wrap md:justify-between md:gap-9 md:gap-x-9 space-x-10 space-y-4"
      >
        <img
          data-tooltip-target="tooltip-animation"
          class="transition ease-in-out delay-150 hover:scale-110 h-16 w-16"
          src="/assets/images/azure.png"
          loading="lazy"
          alt="Azure Logo"
          data-bs-toggle="tooltip"
          title="Azure Cloud Solution"
        />

        <img
          class="transition ease-in-out delay-150 hover:scale-110 h-16 w-16"
          src="/assets/images/c-sharp.png"
          loading="lazy"
          alt="c-sharp Logo"
          data-bs-toggle="tooltip"
          title="C-Sharp Programming language"
        />
        <img
          class="transition ease-in-out delay-150 hover:scale-110 h-16 w-16"
          src="/assets/images/dotnet.png"
          loading="lazy"
          alt="dotnet Logo"
          data-bs-toggle="tooltip"
          title="Dotnet framework"
        />
        <img
          class="transition ease-in-out delay-150 hover:scale-110 h-16 w-16"
          src="/assets/images/angular.png"
          loading="lazy"
          alt="Angular Logo"
          data-bs-toggle="tooltip"
          title="Angular frontend framework"
        />
        <img
          class="transition ease-in-out delay-150 hover:scale-110 h-16 w-16"
          src="/assets/images/java.png"
          loading="lazy"
          alt="Java Logo"
          data-bs-toggle="tooltip"
          title="Java Programming language"
        />
        <img
          class="transition ease-in-out delay-150 hover:scale-110 h-16 w-16"
          src="/assets/images/spring-boot.png"
          loading="lazy"
          alt="SpringBoot Logo"
          data-bs-toggle="tooltip"
          title="SpringBoot framework"
        />
        <!-- ... -->
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-screen-lg px-3 pb-6">
    <div class="mb-6 text-2xl font-bold">
      {{ "tittle-Recente-Projects-01" | translate }}
      <span
        class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
        >{{ "tittle-Recente-Projects-02" | translate }}</span
      >
    </div>
    <div class="flex flex-col gap-6">
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a
            href="https://github.com/MarcosFerreira17/linky-shop-app"
            target="_blank"
            ><img
              class="transition duration-700 h-36 w-36 hover:translate-y-1"
              src="assets/images/project-1.png"
              alt="Project Web Design"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="transition duration-700 hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/linky-shop-app"
              target="_blank"
            >
              <div class="text-xl font-semibold">
                {{ "first-project-tittle" | translate }}
              </div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-lime-400 text-lime-900"
              >
                Docker
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-sky-400 text-sky-900"
              >
                RabbitMQ
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900"
              >
                Ocelot
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            {{ "first-project-description" | translate }}
          </p>
        </div>
      </div>
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a
            href="https://github.com/MarcosFerreira17/ProEventos"
            target="_blank"
            ><img
              class="transition duration-700 h-36 w-36 hover:translate-y-1"
              src="assets/images/project-2.png"
              alt="Project Fire"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="transition duration-700 hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/ProEventos"
              target="_blank"
            >
              <div class="text-xl font-semibold">
                {{ "second-project-tittle" | translate }}
              </div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900"
              >
                Typescript
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-indigo-400 text-indigo-900"
              >
                Bootstrap
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900"
              >
                Angular
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            {{ "first-project-description" | translate }}
          </p>
        </div>
      </div>
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a
            href="https://github.com/MarcosFerreira17/clean-architecture_templates"
            target="_blank"
            ><img
              class="transition duration-700 h-36 w-36 hover:translate-x-2"
              src="assets/images/project-3.png"
              alt="Project Maps"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="transition duration-700 hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/clean-architecture_templates"
              target="_blank"
            >
              <div class="text-xl font-semibold">
                {{ "third-project-tittle" | translate }}
              </div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-emerald-400 text-emerald-900"
              >
                Clean Architecture
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900"
              >
                Logging
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-indigo-400 text-indigo-900"
              >
                Middleware
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            {{ "third-project-description" | translate }}
          </p>
        </div>
      </div>
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a
            href="https://github.com/MarcosFerreira17/url-shortener-api"
            target="_blank"
            ><img
              class="transition duration-700 h-36 w-36 hover:-translate-y-1.5"
              src="assets/images/project-4.png"
              alt="Project Maps"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="transition duration-700 hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/url-shortener-api"
              target="_blank"
            >
              <div class="text-xl font-semibold">
                {{ "fourth-project-tittle" | translate }}
              </div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-emerald-400 text-emerald-900"
              >
                Mongodb
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-blue-600 text-indigo-900"
              >
                Docker
              </div>
              <div
                class="transition duration-700 hover:-translate-y-1.5 rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900"
              >
                Angular
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            {{ "fourth-project-description" | translate }}
          </p>
        </div>
      </div>
      <div class="flex space-x-2 justify-center">
        <button
          type="button"
          class="transition duration-700 delay-100 animate-pulse font-mono text-lg font-medium tracking-tighter rounded-md px-2 py-1 text-white hover:text-sky-300"
        >
          <a href="https://github.com/MarcosFerreira17" target="_blank">{{
            "more-projects" | translate
          }}</a>
        </button>
      </div>
    </div>
  </div>

  <div class="overflow-hidden bg-slate-800 py-10 rounded-md">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
      >
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class="text-lg font-semibold leading-8 tracking-tight">
              {{ "tech-cert" | translate }}
            </h2>
            <p
              class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
            >
              {{ "tech-cert1" | translate }}
            </p>
            <dl
              class="mt-10 max-w-xl space-y-8 text-base leading-7 lg:max-w-none"
            >
              <div class="relative pl-9">
                <dt class="inline font-semibold">
                  <svg
                    class="absolute top-1 left-1 h-5 w-5 text-indigo-600"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <a
                    class="transition duration-300 delay-100 hover:text-cyan-400"
                    href="https://www.credly.com/badges/1afe24ef-d32e-4b34-93bf-9e6222ff9655/linked_in_profile"
                  >
                    {{ "first-cert" | translate }}
                  </a>
                </dt>
                <dd class="inline">
                  {{ "description-first-cert" | translate }}
                </dd>
              </div>

              <div class="relative pl-9">
                <dt class="inline font-semibold">
                  <svg
                    class="absolute top-1 left-1 h-5 w-5 text-indigo-600"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <a
                    class="transition duration-300 delay-100 hover:text-cyan-400"
                    href="https://www.credly.com/badges/76c0bb25-741a-43c5-bd12-5b8b2d3a15e2"
                  >
                    {{ "second-cert" | translate }}
                  </a>
                </dt>
                <dd class="inline">
                  {{ "description-second-cert" | translate }}
                </dd>
              </div>

              <div class="relative pl-9">
                <dt class="inline font-semibold">
                  <svg
                    class="absolute top-1 left-1 h-5 w-5 text-indigo-600"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <a
                    class="transition duration-300 delay-100 hover:text-cyan-400"
                    href="https://www.credly.com/badges/600732b7-18c8-4a6f-a0b2-c7d2b350638e"
                    >{{ "third-cert" | translate }}</a
                  >
                </dt>
                <dd class="inline">
                  {{ "description-third-cert" | translate }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <img
          src="assets\images\Microsoft_Azure.jpg"
          alt="Cloud Azure"
          class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0 opacity-70"
          width="2432"
          height="1442"
          loading="lazy"
        />
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="text-center">
      <h1
        class="transition duration-700 text-2xl text-sky-400 hover:text-sky-300"
      >
        {{ "connect-tittle" | translate }}
      </h1>
      <p class="text-lg">
        {{ "connect-text1" | translate }}
        <span class="text-sky-400 italic">{{
          "connect-software" | translate
        }}</span>
        {{ "connect-text2" | translate }}
        <span class="font-bold"> {{ "connect-reach" | translate }}</span>
        {{ "connect-lets" | translate }}
        <span class="font-bold"> {{ "connect-con" | translate }}</span
        >.
      </p>
    </div>
    <div class="flex justify-center px-3 py-9 gap-4 columns-4">
      <a href="https://www.linkedin.com/in/marcoswferreira/" target="_blank">
        <img
          class="transition ease-in-out delay-200 hover:scale-125 h-16 w-16"
          src="/assets/images/linkedin.png"
          loading="lazy"
          alt="Linkedin Logo"
          data-bs-toggle="tooltip"
          title="My Linkedin profile"
        />
      </a>
      <a href="https://github.com/MarcosFerreira17" target="_blank">
        <img
          class="transition ease-in-out delay-150 hover:scale-125 h-16 w-16"
          src="/assets/images/github.png"
          loading="lazy"
          alt="Github Logo"
          data-bs-toggle="tooltip"
          title="My portfolio on github"
        />
      </a>
      <a href="mailto:marcosfw7@outlook.com" target="_blank"
        ><img
          class="transition ease-in-out delay-150 hover:scale-125 h-16 w-16"
          src="/assets/images/email.png"
          loading="lazy"
          alt="send email Logo"
          data-bs-toggle="tooltip"
          title="Marcos Ferreira email address"
        />
      </a>
      <!-- ... -->
    </div>
  </div>
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="border-t border-gray-600 pt-5">
      <div class="text-sm text-gray-200">
        {{ "footer" | translate }} ♥ by
        <!-- -->
        <a
          class="text-cyan-400 hover:underline"
          href="https://www.linkedin.com/in/marcoswferreira"
          target="_blank"
          rel="noopener noreferrer"
          >Marcos Ferreira</a
        >
        |
        <a
          href="https://github.com/MarcosFerreira17/my_portfolio-spa"
          target="_blank"
          class="transition duration-700 delay-100 animate-pulse tracking-tighter text-white hover:text-cyan-400"
        >
          Github</a
        >
      </div>
    </div>
  </div>
</div>
