<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div
    class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between"
  >
    <a>
      <div
        class="flex items-center bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-xl font-bold text-transparent"
      >
        Glad to see you here!
      </div>
    </a>
  </div>
</div>

<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div
      class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-24"
    >
      <div>
        <h1 class="text-3xl font-bold">
          Hi there, I'm
          <span
            class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
            >Marcos Ferreira</span
          >
          👋
        </h1>
        <p class="mt-6 text-xl leading-9">
          Student of <a class="text-cyan-400">Information Systems</a> at UNESA,
          i am currently an intern on the
          <!-- -->
          <a class="text-cyan-400">engineering team</a>
          <!-- -->
          at GFT group where I develop my skills as a
          <a class="text-cyan-400">backend developer.</a>
          <!-- -->
          I specialize in building robust backends, i love designing systems
          that are light, powerful and effective.
        </p>
      </div>
      <div class="shrink-0">
        <img
          class="h-64 w-60"
          src="assets/images/avatar.png"
          alt="Avatar image"
          loading="lazy"
        />
      </div>
    </div>
  </div>

  <div class="px-3 py-9 gap-9 columns-6">
    <img
      class="h-20 w-20"
      src="/assets/images/azure.png"
      loading="lazy"
      alt="Azure Logo"
    />
    <img
      class="h-20 w-20"
      src="/assets/images/docker.png"
      loading="lazy"
      alt="Docker"
    />
    <img
      class="h-20 w-20"
      src="/assets/images/dotnet.png"
      loading="lazy"
      alt="dotnet Logo"
    />
    <img
      class="h-20 w-20"
      src="/assets/images/c-sharp.png"
      loading="lazy"
      alt="c-sharp Logo"
    />
    <img
      class="h-20 w-20"
      src="/assets/images/angular.png"
      loading="lazy"
      alt="Angular Logo"
    />
    <img
      class="h-20 w-20"
      src="/assets/images/sql-server.png"
      loading="lazy"
      alt="MySQL"
    />
    <!-- ... -->
  </div>

  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="mb-6 text-2xl font-bold">
      Recent
      <span
        class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
        >Projects</span
      >
    </div>
    <div class="flex flex-col gap-6">
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a href="/"
            ><img
              class="h-36 w-36 hover:translate-y-1"
              src="assets/images/project-1.png"
              alt="Project Web Design"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/code-store"
            >
              <div class="text-xl font-semibold">E-Commerce Application</div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-lime-400 text-lime-900"
              >
                Docker
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-400 text-sky-900"
              >
                RabbitMQ
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900"
              >
                Ocelot
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            There is a couple of microservices which implemented e-commerce
            modules over Catalog, Basket, Discount and Ordering microservices
            with NoSQL and Relational databases with communicating over RabbitMQ
            Event Driven Communication and using Ocelot API Gateway.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a href="/"
            ><img
              class="h-36 w-36 hover:translate-y-1"
              src="assets/images/project-2.png"
              alt="Project Fire"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/ProEventos"
            >
              <div class="text-xl font-semibold">Pro Eventos</div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900"
              >
                Javascript
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-indigo-400 text-indigo-900"
              >
                Bootstrap
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900"
              >
                SCSS
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-violet-400 text-violet-900"
              >
                Angular
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            RESTful API with ASP.NET Core, filtering and data modeling and
            support for HATEOAS, clean architecture implementation with Entity
            Framework Core, frontend with Angular framework.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a href="/"
            ><img
              class="h-36 w-36 hover:translate-y-1"
              src="assets/images/project-3.png"
              alt="Project Maps"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/clean-architecture_templates"
            >
              <div class="text-xl font-semibold">.NET WebAPI Templates</div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-emerald-400 text-emerald-900"
              >
                Clean Achitecture
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900"
              >
                Logging
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-indigo-400 text-indigo-900"
              >
                Middlewares
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900"
              >
                Dependency Injection
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            This project contains templates providing the minimum amount of code
            necessary for you to move forward, implementing clean architecture
            concepts.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a href="/"
            ><img
              class="h-36 w-36 hover:translate-y-1"
              src="assets/images/project-4.png"
              alt="Project Maps"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/url-shortener-api"
            >
              <div class="text-xl font-semibold">Linky</div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900"
              >
                Minimal API
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-emerald-400 text-emerald-900"
              >
                Mongodb
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-blue-600 text-indigo-900"
              >
                Docker
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-indigo-400 text-indigo-900"
              >
                TailwindCSS
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900"
              >
                Angular
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            O Linky é uma ferramenta de encurtar URL criada com minimalAPI.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="text-center">
      <h1 class="text-2xl text-sky-400 hover:text-sky-300">Let's connect</h1>
      <p class="text-lg">
        I'm posting .NET and
        <span class="text-sky-400 italic">software engineering</span> content on
        multiple Social Media platforms.
        <span class="font-bold"> Reach out</span> and let's
        <span class="font-bold"> connect</span>.
      </p>
    </div>
    <div class="flex justify-center px-3 py-9 gap-4 columns-4">
      <a href="https://www.linkedin.com/in/marcoswferreira/">
        <img
          class="h-20 w-20"
          src="/assets/images/linkedin.png"
          loading="lazy"
          alt="Linkedin Logo"
        />
      </a>
      <a href="https://github.com/MarcosFerreira17">
        <img
          class="h-20 w-20"
          src="/assets/images/Octocat.png"
          loading="lazy"
          alt="Github Logo"
        />
      </a>
      <a href="https://medium.com/"
        ><img
          class="h-20 w-20"
          src="/assets/images/patreon.png"
          loading="lazy"
          alt="Medium Logo"
        />
      </a>

      <!-- ... -->
    </div>
  </div>
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="border-t border-gray-600 pt-5">
      <div class="text-sm text-gray-200">
        Built with ♥ by
        <!-- -->
        <a
          class="text-cyan-400 hover:underline"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          >Marcos Ferreira</a
        >.
      </div>
    </div>
  </div>
</div>
