<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div
    class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between"
  >
    <a>
      <div
        class="flex items-center bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-xl font-bold text-transparent"
      >
        Glad to see you here!
      </div>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            href="https://www.linkedin.com/in/marcoswferreira/"
            class="transition duration-700 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            aria-current="page"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://github.com/MarcosFerreira17"
            class="transition duration-700 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Github</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="mx-auto max-w-screen-lg px-3 pt-6">
    <div
      class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-24"
    >
      <div>
        <h1 class="text-3xl font-bold">
          Hi there, I'm
          <span
            class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
            >Marcos Ferreira</span
          >
          👋
        </h1>
        <p class="mt-6 mb-6 text-xl leading-9">
          Student of <a class="text-cyan-400">Information Systems</a> at UNESA,
          and a current intern in the
          <!-- -->
          <a class="text-cyan-400">engineering team</a>
          <!-- -->
          at GFT group, I am passionate about developing my skills as a
          <a class="text-cyan-400">backend developer.</a>
          <!-- -->
          With a strong foundation in various technologies and approaches, I am
          able to tackle any challenge that comes my way.
        </p>
      </div>
      <div
        class="transition ease-in-out delay-150 duration-700 shrink-0 hover:scale-110 opacity-90 hover:opacity-100"
      >
        <img
          class="h-64 w-60"
          src="assets/images/avatar.png"
          alt="Avatar image"
          loading="lazy"
          data-bs-toggle="tooltip"
          title="Avatar Marcos Ferreira"
        />
      </div>
    </div>
  </div>

  <div class="px-3 py-9 gap-9 columns-6">
    <img
      data-tooltip-target="tooltip-animation"
      class="h-16 w-16"
      src="/assets/images/azure.png"
      loading="lazy"
      alt="Azure Logo"
      data-bs-toggle="tooltip"
      title="Azure Cloud Solution"
    />

    <img
      class="h-16 w-16"
      src="/assets/images/c-sharp.png"
      loading="lazy"
      alt="c-sharp Logo"
      data-bs-toggle="tooltip"
      title="C-Sharp Programming language"
    />
    <img
      class="h-16 w-16"
      src="/assets/images/dotnet.png"
      loading="lazy"
      alt="dotnet Logo"
      data-bs-toggle="tooltip"
      title="Dotnet framework"
    />
    <img
      class="h-16 w-16"
      src="/assets/images/angular.png"
      loading="lazy"
      alt="Angular Logo"
      data-bs-toggle="tooltip"
      title="Angular frontend framework"
    />
    <img
      class="h-16 w-16"
      src="/assets/images/java.png"
      loading="lazy"
      alt="Java Logo"
      data-bs-toggle="tooltip"
      title="Java Programming language"
    />
    <img
      class="h-16 w-16"
      src="/assets/images/spring-boot.png"
      loading="lazy"
      alt="SpringBoot Logo"
      data-bs-toggle="tooltip"
      title="SpringBoot framework"
    />
    <!-- ... -->
  </div>

  <div class="mx-auto max-w-screen-lg px-3 pb-6">
    <div class="mb-6 text-2xl font-bold">
      Recent
      <span
        class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
        >Projects</span
      >
    </div>
    <div class="flex flex-col gap-6">
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a href="/"
            ><img
              class="transition duration-700 h-36 w-36 hover:translate-y-1"
              src="assets/images/project-1.png"
              alt="Project Web Design"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="transition duration-700 hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/linky-shop-app"
            >
              <div class="text-xl font-semibold">LinkyShop Application</div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-lime-400 text-lime-900"
              >
                Docker
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-400 text-sky-900"
              >
                RabbitMQ
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900"
              >
                Ocelot
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            Our microservices architecture delivers comprehensive e-commerce
            functionality, including Catalog, Basket, Discount, and Ordering
            modules. We employ both NoSQL and Relational databases and utilize
            RabbitMQ for event-driven communication. The Ocelot API Gateway
            manages communication between the microservices, ensuring seamless
            integration and optimal performance.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a href="/"
            ><img
              class="transition duration-700 h-36 w-36 hover:translate-y-1"
              src="assets/images/project-2.png"
              alt="Project Fire"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="transition duration-700 hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/ProEventos"
            >
              <div class="text-xl font-semibold">Pro Eventos</div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900"
              >
                Typescript
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-indigo-400 text-indigo-900"
              >
                Bootstrap
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900"
              >
                Angular
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            Our RESTful API, powered by ASP.NET Core, features advanced
            filtering, robust data modeling, and HATEOAS support. Implemented
            using clean architecture principles, it integrates seamlessly with
            Entity Framework Core. The frontend is built with the Angular
            framework for a seamless user experience.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a href="/"
            ><img
              class="transition duration-700 h-36 w-36 hover:translate-x-2"
              src="assets/images/project-3.png"
              alt="Project Maps"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="transition duration-700 hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/clean-architecture_templates"
            >
              <div class="text-xl font-semibold">.NET Templates</div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-emerald-400 text-emerald-900"
              >
                Clean Architecture
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900"
              >
                Logging
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-indigo-400 text-indigo-900"
              >
                Middleware
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            This project features minimalistic templates, designed to help you
            quickly implement clean architecture concepts and make progress on
            your project with ease.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
      >
        <div class="shrink-0">
          <a href="/"
            ><img
              class="transition duration-700 h-36 w-36 hover:-translate-y-1.5"
              src="assets/images/project-4.png"
              alt="Project Maps"
              loading="lazy"
          /></a>
        </div>
        <div>
          <div class="flex flex-col items-center gap-y-2 md:flex-row">
            <a
              class="transition duration-700 hover:text-cyan-400"
              href="https://github.com/MarcosFerreira17/url-shortener-api"
            >
              <div class="text-xl font-semibold">Linky URL-Shortener</div>
            </a>
            <div class="ml-3 flex gap-2">
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
              >
                .NET
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-emerald-400 text-emerald-900"
              >
                Mongodb
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-blue-600 text-indigo-900"
              >
                Docker
              </div>
              <div
                class="rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900"
              >
                Angular
              </div>
            </div>
          </div>
          <p class="mt-3 text-gray-400">
            Linky is a sleek URL shortening solution, crafted with simplicity in
            mind, utilizing the power of the Minimal API.
          </p>
        </div>
      </div>
      <div>
        <p
          class="transition duration-700 font-mono text-lg italic font-medium tracking-tighter text-sky-500/75 hover:text-sky-300"
        >
          <a href="https://github.com/MarcosFerreira17">see more...</a>
        </p>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="text-center">
      <h1
        class="transition duration-700 text-2xl text-sky-400 hover:text-sky-300"
      >
        Let's connect
      </h1>
      <p class="text-lg">
        I'm posting .NET/Java and
        <span class="text-sky-400 italic">software engineering</span> content on
        multiple Social Media platforms.
        <span class="font-bold"> Reach out</span> and let's
        <span class="font-bold"> connect</span>.
      </p>
    </div>
    <div class="flex justify-center px-3 py-9 gap-4 columns-4">
      <a href="https://www.linkedin.com/in/marcoswferreira/">
        <img
          class="h-16 w-16"
          src="/assets/images/linkedin.png"
          loading="lazy"
          alt="Linkedin Logo"
          data-bs-toggle="tooltip"
          title="My Linkedin profile"
        />
      </a>
      <a href="https://github.com/MarcosFerreira17">
        <img
          class="h-16 w-16"
          src="/assets/images/Octocat.png"
          loading="lazy"
          alt="Github Logo"
          data-bs-toggle="tooltip"
          title="My portfolio on github"
        />
      </a>
      <a href="https://medium.com/"
        ><img
          class="h-16 w-16"
          src="/assets/images/medium.png"
          loading="lazy"
          alt="Medium Logo"
          data-bs-toggle="tooltip"
          title="Medium blog"
        />
      </a>
      <div></div>
      <!-- ... -->
    </div>
  </div>
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="border-t border-gray-600 pt-5">
      <div class="text-sm text-gray-200">
        Built with ♥ by
        <!-- -->
        <a
          class="text-cyan-400 hover:underline"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          >Marcos Ferreira</a
        >.
      </div>
    </div>
  </div>
</div>
